<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v4.0.1">
	<title>HackED 2021</title>

	<link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/sign-in/">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Bootstrap core CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="css/homeStyle.css" rel="stylesheet">
</head>
<script>
    var count_of_courses = 3;
</script>

<body class="text-center">
<div class="topnav">
    <a href="/">Home</a>
    <a class="btn btn-dark btn-lg" href="/logout" role="button">Log out</a>
    <a class="btn btn-light btn-lg" href="/courses" role="button">Classes</a>
    <a class ="active" href="/success">Results</a>
    <b href="#domain">Unify</b>
</div>
    <form action="/calculate" class="form-signin" method="POST">
        <img src="https://edexec.co.uk/wp-content/uploads/2020/01/iStock-1130620580-678x381.jpg" width="700" height="300">
        <h1 class="h3 mb-3 font-weight-normal">Courses and Contact details</h1>

    <p>Enter your courses in the following format "CMPUT201" (without the "")</p>
        <p>To get useful results you must enter at least two courses</p>

        <div class="col-md-8">
            <div class="form-group label-floating">

                <label>
                    Preferred Name
                    <input name="pname" type="text" class="form-control" v-model="act" placeholder="Davie" required>
                </label>
            </div>
        </div>

        <div class="col-md-8">
            <div class="form-group label-floating">

                <label>
                    Discord Username
                    <input type=text" name="discord" class="form-control middle" placeholder="mamomoi#1230" required>
                </label>
            </div>
        </div>

        <div class="col-md-8">
            <div class="form-group label-floating">

                <label>
                    Faculty
                    <input type="text" name="faculty" class="form-control middle" placeholder="Arts" required>
                </label>
            </div>
        </div>

        <div class="col-md-8">
            <div class="form-group label-floating">

                <label>
                    Major
                    <input type="text" name="major" class="form-control middle" placeholder="Economics" required>
                </label>
            </div>
        </div>




    <div class="row" id="addRowsHere">
        <div class="col-md-8">
            <div class="form-group label-floating">

                <label>
                    Course
                    <input name="1" type="text" class="form-control" placeholder="ECON101" v-model="act" required>
                </label>
            </div>
        </div>
        <div class="col-md-8">
            <div class="form-group label-floating ">
                <label class="control-label">Course
                <input name="2" type="text" class="form-control" placeholder="ECON101" v-model="section" required>
                </label>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row clearfix">
    <div class="col-md-8 col-md-offset-1 column">
    <button type="button" class="btn btn-default" id="clickMe">Add Course</button>
    </div> </div> </div>
    <script>
        document.getElementById("clickMe").onclick = function() {
            //first div
            var newDivCol = document.createElement("div");
            newDivCol.setAttribute("class", "col-md-8 col-md-offset-2 column");
            //second div
            var newDivForm = document.createElement("div");
            newDivForm.setAttribute("class", "form-group label-floating");
            newDivCol.appendChild(newDivForm);
            //label
            var newlabel = document.createElement("h3");
            newlabel.setAttribute("class", "label");
            newlabel.innerHTML = "Course";
            newDivForm.appendChild(newlabel);
            //input
            var i = count_of_courses.toString();
            count_of_courses +=1;
            var newInput = document.createElement("input");
            newInput.setAttribute("type", "text");
            newInput.setAttribute("class", "form-control");
            newInput.setAttribute("v-model", "act");
            newInput.setAttribute("placeholder", "ECON101");
            newInput.setAttribute("name", i);
            newlabel.appendChild(newInput);

            var element = document.getElementById("addRowsHere");
            element.appendChild(newDivCol);
        };
    </script>



        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
    <p class="mt-5 mb-3 text-muted">&copy; Unify 2021</p>
    </form>
</div> </div> </div>
    </body>
</body>
</html>
