<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v4.0.1">
    <title>Unify</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/sign-in/">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Bootstrap core CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="css/homeStyle.css" rel="stylesheet">
</head>
<script>
    var count_of_courses = 3;
</script>

<body class="text-center">
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/logout" role="button">Log out</a>
        <a class="active" href="/courses" role="button">Classes</a>
        <a href="/success">Results</a>
        <b href="#domain">Unify</b>
    </div>
    <div class="banner" style="height: 200px">
        <h1>
            Add your courses and contact details
        </h1>
        <h2>
            Note if you have already submitted classes, this will change your classes
            ,and this cannot be reverted
        </h2>
        
        
    </div>
    <div style="padding: 15px;">
    <p>

    </p>
</div>

    <form action="/calculate" class="form-signin" method="POST">

        <div class="col-md-12">
            <div class="form-group label-floating">

                <label style="color: white">
                    Preferred Name
                    <input name="pname" type="text" class="form-control" v-model="act" placeholder="E.g: Davie" style="width: 400px" required>
                </label>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group label-floating">

                <label style="color: white">
                    Discord Username
                    <input type=text" name="discord" class="form-control middle" placeholder="E.g: mamomoi#1230" style="width: 400px" required>
                </label>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group label-floating">

                <label style="color: white">
                    Faculty
                    <input type="text" name="faculty" class="form-control middle" placeholder="E.g: Science" style="width: 400px" required>
                </label>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group label-floating">

                <label style="color: white">
                    Major
                    <input type="text" name="major" class="form-control middle" placeholder="E.g: Computer Science" style="width: 400px" required>
                </label>
            </div>
        </div>




        <div class="row" id="addRowsHere">
            <div class="col-md-12">
                <div class="form-group label-floating">

                    <label style="color: white">
                    Course
                    <input name="1" type="text" class="form-control" placeholder="E.g: CMPUT201" v-model="act" style="width: 400px" required>
                </label>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group label-floating ">
                    <label class="control-label" style="color: white">Course
                <input name="2" type="text" class="form-control" placeholder="E.g: ECON101" v-model="section" style="width: 400px" required>
                </label>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row clearfix">
                <div class="col-md-12">
                    <button type="button" class="btn btn-default" id="clickMe">Add course</button>
                </div>
            </div>
        </div>
        <script>
            document.getElementById("clickMe").onclick = function() {
                //first div
                var newDivCol = document.createElement("div");
                newDivCol.setAttribute("class", "col-md-12");
                //second div
                var newDivForm = document.createElement("div");
                newDivForm.setAttribute("class", "form-group label-floating");
                newDivCol.appendChild(newDivForm);
                //label
                var newlabel = document.createElement("label");
                newlabel.setAttribute("class", "control-label");
                newlabel.setAttribute("style", "color: white");
                newlabel.innerHTML = "Course";
                newDivForm.appendChild(newlabel);
                //input
                var i = count_of_courses.toString();
                count_of_courses += 1;
                var newInput = document.createElement("input");
                newInput.setAttribute("type", "text");
                newInput.setAttribute("style", "width: 400px");
                newInput.setAttribute("class", "form-control");
                newInput.setAttribute("v-model", "act");
                newInput.setAttribute("placeholder", "E.g: MATH214");
                newInput.setAttribute("name", i);
                newlabel.appendChild(newInput);

                var element = document.getElementById("addRowsHere");
                element.appendChild(newDivCol);
            };
        </script>


        <div style="padding: 10px;"></div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" style="background-color: #06343a">Sign up</button>
        <p class="mt-5 mb-3 text-muted">&copy; Unify 2021</p>
    </form>
    </div>
    </div>
    </div>
</body>
</body>

</html>