<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v4.0.1">
	<title>HackED 2021</title>

	<link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/sign-in/">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<link rel="stylesheet" href="css/homeStyle.css">
</head>
<body style="background-color: #212121">
	<div class="topnav">
  		<a class="active" href="#home">Home</a>
  		<a class="btn btn-dark btn-lg" href="/logout" role="button">Log out</a>
  		<a class="btn btn-light btn-lg" href="/courses" role="button">Classes</a>
  		<a href="/success">Results</a>
		<b href="#domain">Unify</b>
	</div>
	<div class="banner" style="height: 200px">
		<a>Welcome.</a>
		<img src=<%= imageURL%>>
	</div>
	<div style="width: 42%; float: left; height: 100%; background-color: white; margin: 20px; border-radius: 5px; padding: 20px">
		<p style="text-align: center; font-size: 20px"><strong>About this site
			</strong></p> <p>This site was created to help students at the University of Alberta&nbsp; find fellow students in similar classes as them. Students can add the classes they are currently taking and are then matched with other students that have 2 or more similar classes as them. Students are then presented a report of all matching students and and their Discord handle.&nbsp;</p>
	</div>
	<div style="width: 53%; float: right; height: 100%; background-color: white; margin-top: 20px; margin-right: 20px; margin-bottom: 20px; border-radius: 5px; padding: 20px">
			<p style="text-align: center; font-size: 20px"><strong>User Manual
			</strong></p><p>This process involves 4 easy steps:</p>
			<div style="background-color: red; border-radius: 50%; width: 100px; height: 100px; margin: 20px">
			</div>
	</div>



</body>
</html>
