
.ButtonContainer{
position: absolute;
width: 419px;
height: 98px;
left: 511px;
top: 630px;

background: #FFFFFF;
border-radius: 25px;

}


.text{
    /* position: absolute; */
    width: 377px;
    height: 55px;
    left: 640px;
    top: 651px;
    
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 87px;
    display: flex;
    align-items: center;
    letter-spacing: -0.017em;
    
    color: #ABFAFF;
}




.google{
    /* position: absolute; */
    width: 77px;
    height: 77px;
    background: url('/images/google.png');
}



button{
    position: absolute;
    width: 419px;
    height: 98px;
    left: 511px;
    top: 630px;
    
    background: #FFFFFF;
    border-radius: 25px;
}


/* Button placement */
a.btn.btn-block.btn-social.btn-google {
    max-width: 25rem;
    height: 3.5rem;
}