@charset "utf-8";


html {
    background-color: #CFEDF1;
}

/* 
base color: #CFEDF1,
main color: #77C9D4,
accent color: #D48277 */

/* CSS Document */
.ButtonContainer{
    position: absolute;
    width: 419px;
    height: 98px;
    left: 511px;
    top: 630px;
    
    background: #FFFFFF;
    border-radius: 25px;
}

/* Remove all existing margins and padding */

body {
    margin: 0 !important;
    padding: 0 !important;
    background-color: #CFEDF1;
    color: black;
}

/* h1 things */
h1 {
    text-align: center;
}


/* Add a black background color to the top navigation */
.text{
    /* position: absolute; */
    width: 377px;
    height: 55px;
    left: 640px;
    top: 651px;
    
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 87px;
    display: flex;
    align-items: center;
    letter-spacing: -0.017em;
    
    color: #ABFAFF;
}


.topnav {
    background-color: #D48277;
    overflow: hidden;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

.banner {
    background-color: #77C9D4;
    overflow: hidden;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    font-size: 54px;
    position: relative;
}

.banner h1 {
    margin-top: 5rem;
    position: relative;
    color: black;
    align-content: center;
    font: bolder;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
}
.banner p {
    margin: 4rem;
    /* position: absolute; */
    color: black;
    text-align: center;
    font: bolder;
    font-size: 25px;
    top: 60%;
    left: 50%;
    /* padding-bottom: 10rem; */
    /* margin-right: -50%; */
    /* transform: translate(-50%, -50%); */
}

.banner a:hover {
    text-decoration: none;
}

.google{
    /* position: absolute; */
    width: 77px;
    height: 77px;
    background: url('/images/google.png');
}

/* Style the links inside the navigation bar */

.topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav b {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


/* Change the color of links on hover */

.topnav a:hover {
    border-color: aliceblue;
    border-width: medium;
    background-color: #77C9D4;
    color: white;
}


/* Button placement */
a.btn.btn-block.btn-social.btn-google {
    max-width: 25rem;
    height: 3.5rem;
}

.cleaner.btn-google {
    padding: 1rem;
    border:none;
    border-radius: 1.5em;
}
/* Add a color to the active/current link */

.topnav h1.active {
    background-color: #06343a;
    color: white;
}

.manual-text{
    font-size: 17px;
    text-align: center;
}

.results {
    font-size: 18px;
    text-align: center;
    color: black;
}

.warning-text {
    font-size: 18px;
    padding: 10px;
    color: grey;
}

.page-container{
    background-color: #CFEDF1;
}

.btn-google{
 border:none;
}

.btn-social>:first-child{
    border-right: none;
}

#card1{
    /* width: 42%; */
     /* float: left;  */
     height: 100%; 
     /* background-color: white;  */
     /* margin: 1em;  */
     border-radius: 5px; 
     padding: 20px;
}

#fancy-pad{
    background-color:#CFEDF1;
    height: 40vh;
    color:white;
}

#card2{
    /* width: 54%; 
    float: right;  */
    height: 100%; 
    text-align: center;
    /* background-color: white;  */
    /* margin-top: 20px; 
    margin-right: 20px; 
    margin-bottom: 20px; */
    border-radius: 5px; 
    padding: 20px
}


a#title {
    font-size: 20px;
    float: left;
    font-weight: bolder;
}